ion-content {
  --background: url("/assets/img/background.jpg") center center/cover no-repeat
    fixed;
}

.img-mobile {
  display: none;
}

@media (max-width: 960px) {

  .img-mobile {
    display: block;
    margin: 5rem auto 2rem auto;
    display: block;
    width: 150px;
    height: 150px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
      bottom: 200px;
    }
  }
}
