.box {
    background-color: whitesmoke;
    margin: 15rem auto 0 auto;
    max-width: 800px;
    padding-top: 20px;
    .img-box {
      margin: auto;
      display: block;
      width: 150px;
      height: 150px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        bottom: 200px;
      }
    }
    button {
      background-color: whitesmoke;
      color: black;
      border-radius: 28px;
      border: 2px solid var(--primary);
      display: inline-block;
      padding: 15px 41px;
      margin-bottom: 2rem;
    }
  }
  
  @media (max-width: 960px) {  
    .box {
      background-color: whitesmoke;
      margin: 5rem 2rem 0 2rem;
      .img-box {
        display: none;
      }
      h2 {
        display: none;
      }
      button {
        background-color: var(--primary);
        color: white;
        margin: 0px;
        border-radius: 0;
        width: 100%;
        height: 3rem;
      }
    }
  }