<div #loginBox class="box ion-text-center">
  <div class="img-box">
    <img src="assets/img/logo.jpg" />
  </div>
  <div class="title ion-padding-top">
    <h2>{{ "PAGES.LOGIN.TITLE" | translate }}</h2>
  </div>
  <form [formGroup]="loginForm">
    <ion-row class="ion-padding-horizontal ion-padding-top">
      <ion-col>
        <mat-form-field appearance="fill" class="input-full-width">
          <mat-label> {{ "PAGES.LOGIN.FORM.USER" | translate }} </mat-label>
          <input
            name="username"
            type="email"
            matInput
            formControlName="username"
          />
          <mat-icon matPrefix class="my-icon">perm_identity</mat-icon>
          <mat-error
            *ngIf="
              loginForm.get('username').hasError('required') &&
              (loginForm.get('username').dirty ||
                loginForm.get('username').touched)
            "
            >{{ "ERRORS.REQUIRED" | translate }}</mat-error
          >
          <mat-error
            *ngIf="
              loginForm.get('username').hasError('email') &&
              !loginForm.get('username').hasError('required') &&
              (loginForm.get('username').dirty ||
                loginForm.get('username').touched)
            "
            >{{ "ERRORS.EMAIL" | translate }}</mat-error
          >
        </mat-form-field>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col>
        <mat-form-field appearance="fill" class="input-full-width">
          <mat-label>
            {{ "PAGES.LOGIN.FORM.PASSWORD" | translate }}
          </mat-label>
          <input
            name="password"
            type="password"
            matInput
            formControlName="password"
          />
          <mat-icon matPrefix class="my-icon">lock</mat-icon>
          <mat-error
            *ngIf="
              loginForm.get('password').hasError('required') &&
              (loginForm.get('password').dirty ||
                loginForm.get('password').touched)
            "
            >{{ "ERRORS.REQUIRED" | translate }}</mat-error
          >
          <mat-error
            *ngIf="
              loginForm.get('password').hasError('minlength') &&
              !loginForm.get('password').hasError('required') &&
              (loginForm.get('password').dirty ||
                loginForm.get('password').touched)
            "
            >{{ "ERRORS.MIN_LENGTH" | translate: { value: "5" } }}</mat-error
          >
        </mat-form-field>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="8" class="ion-text-left">
        <mat-label> {{ "PAGES.LOGIN.FORM.REMEMBER" | translate }} </mat-label>
      </ion-col>
      <ion-col size="4" class="ion-text-right">
        <mat-slide-toggle
          formControlName="remember"
          name="remember"
          color="primary"
        >
        </mat-slide-toggle>
      </ion-col>
    </ion-row>
    <button (click)="sendLogin()">
      {{ "PAGES.LOGIN.FORM.BTN_ACCESS" | translate }}
    </button>
  </form>
</div>
